@font-face {
	font-family: "FiraGO";
	src: url("../fonts/FiraGO-Regular.woff2") format("woff2"),
		url("../fonts/FiraGO-Regular.woff") format("woff"),
		url("../fonts/FiraGO-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue LT GEO";
	src: url("../fonts/HelveticaNeueLTGEO-55Roman.woff2") format("woff2"),
		url("../fonts/HelveticaNeueLTGEO-55Roman.woff") format("woff"),
		url("../fonts/HelveticaNeueLTGEO-55Roman.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
